numpy>=1.26.4
torch==2.5.1
torchvision
torchaudio
monai[all]>=1.4.0
nibabel
scikit-image
opencv-python-headless
einops
tqdm
tensorboard
matplotlib
reportlab
pandas
pyyaml
scikit-learn
filelock>=3.15
wandb
timm
onnx>=1.16.0
onnxscript>=0.1.0
